<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macbook.awsproj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/testpic"
        android:label="Demo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".AuthenticatorActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".StorageActivity" />
        <activity android:name=".DownloadActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <!--<activity android:name=".AuthenticationActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".AddPetActivity"></activity>

        <activity android:name=".PubSubActivity"></activity>

        <activity android:name=".events.ListEventsActivity"></activity>

        <activity android:name=".events.AddEventActivity"></activity>

        <activity android:name=".events.ViewEventActivity"></activity>


        <activity
            android:name="com.example.macbook.awsproj.startup.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.macbook.awsproj.startup.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.RegisterUser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.AboutApp"
            android:label="@string/title_activity_about_app"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.SignUpConfirm"
            android:label="@string/title_activity_sign_up_confirm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.MFAActivity"
            android:label="@string/title_activity_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.VerifyActivity"
            android:label="@string/title_activity_verify"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.AddAttributeActivity"
            android:label="@string/title_activity_add_attribute"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.DeviceSettings"
            android:label="@string/title_activity_device_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.NewPassword"
            android:label="@string/title_activity_new_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.macbook.awsproj.startup.ChooseMFA"
            android:label="@string/title_activity_choose_mfa"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>